name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install
        run: yarn
      - name: Install correct chromedriver
        run: yarn add -D chromedriver@84
      - name: Percy Test
        uses: percy/exec-action@master
        with:
          command: "nightwatch"
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
